.container {
    --cust-width: 70dvw;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.selectedButton {
    background-color: #0063cb;
    border-radius: 25px;
    margin: 0 0.5em;
    padding: 0.2em 1em;
    color: #ececfe;
    &:hover {
        background-color: #000091e7 !important;
        color: #eeeeee;
    }
}
.button {
    background-color: #f9f9ff;
    border-radius: 25px;
    margin: 0 0.5em;
    padding: 0.2em 1em;
    color: #3a3a3a;
    &:hover {
        background-color: #e9e9ff !important;
        color: #000000;
    }
}

.cardWrapper {
    width: var(--cust-width);
    max-width: var(--cust-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.5em;
    border-bottom: 1px solid grey;
}

.titles {
    padding: 0 0 2em;
    .sensibilite {
        display: flex;
        flex-direction: row;
        column-gap: 2em;
    }
}

.bubble {
    position: relative;
    font-size: 1.25em;
}

.bubbleContent {
    padding: 0.5em 1.5em 0.5em;
    background-color: white !important;
}

.bottom {
    display: flex;
    background-color: #eeeeee;
    padding: 1em 2em;
    justify-content: space-between;
}
