.legendItemsWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    flex-wrap: wrap;
}

.legendItem {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    p {
        margin: 0;
    }
}

.legendColor {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 0.5px solid #161616;
}
