
.form-container {
    --cust-width: 70dvw;
    display: flex;
    flex-direction: row;
}

.form-page-container {
    display: flex;
    flex-direction: column;
}

.thematique-card-wrapper {
    width: var(--cust-width);
    max-width: var(--cust-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	column-gap: 0.5em;
}

.theme-page-titles {
	padding: 1em 0 0;
	.sensibilite{
		display: flex;
		flex-direction: row;
		column-gap: 2em;
	}
}

.data-bubble {
    width: var(--cust-width);
    margin: 2rem 0;
    // layout
	position: relative;
	// looks
	background-color: #eeeeee;
	padding: 1.5em;
	font-size: 1.25em;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    border-left: 3px solid #000091;
}