// Menu latéral

.sidebarContainer {
    position: fixed;
    left: 0;
    width: 322px;
}

.chevron-right-green {
    width: 10px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 12'%3E%3Cpath d='M1 3 L3.5 6 L1 9' stroke='%23038278' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.chevron-right-black {
    width: 10px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 12'%3E%3Cpath d='M1 3 L3.5 6 L1 9' stroke='%23000000' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.BoutonEtapes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 0.5rem;
    padding: 18px 0;
    &:hover {
        background-color: transparent !important;
    }
}

.menuEtape1 {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 2rem;
    ::before {
        content: '';
        position: absolute;
        left: -27px;
        top: -60px;
        bottom: -40px;
        width: 1px;
        background-color: var(--gris-medium);
    }
}

.menuEtape1 {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 2rem;
    ::before {
        content: '';
        position: absolute;
        left: -27px;
        top: -60px;
        bottom: -40px;
        width: 1px;
        background-color: var(--gris-medium);
    }
}

.itemSurligne {
    background-color: var(--boutons-primaire-2);
    border-radius: 0.5rem;
    position: relative;
    padding: 4px 14px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 16px;
        background-color: var(--boutons-primaire-3);
        border-radius: 0 2px 2px 0;
    }
    &:hover {
        background-color: var(--boutons-primaire-2) !important;
    }
}

.itemNonSurligne {
    border-radius: 0.5rem;
    position: relative;
    padding: 4px 14px;
    &:hover {
        background-color: transparent !important;
    }
}
