// Contenu principal "Explorer mes données"

.retourHautDePageWrapper {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    z-index: 1000;
}

.retourHautDePageBouton {
    border-radius: 50%;
    background-color: var(--gris-dark);
    height: 44px;
    width: 44px;
    padding: 10px;
    cursor: pointer;
}

.impactsContainer {
    margin: 2rem 5rem;
}
.sectionType {
    margin-top: 40px;
    border: 1px solid var(--gris-medium);
    border-radius: 1rem;
    .indicateurWrapper {
        padding: 2rem 0 0 2rem;
    }
    .diagnosticWrapper {
        padding: 2rem;
    }
}

.redirectionEtape2Wrapper {
    display: flex;
    flex-direction: row;
    margin: 2.5rem 0;
    gap: 2rem;
    .textBloc {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
}

// Données et dataviz

.datavizContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem 0 0 0;
    .chiffreDynamiqueWrapper {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 1.5rem;
        align-items: flex-start;
        padding: 0 0 2rem 0;
    }
    .datavizWrapper {
        display: flex;
        flex-direction: column;
        width: 60%;
        border-radius: 1rem 0 0 0;
        border-left: 1px solid var(--gris-medium);
        border-top: 1px solid var(--gris-medium);
        .legend {
            margin: 0.75rem 0.5rem;
        }
    }
}

.datavizMapContainer {
    display: flex;
    flex-direction: column;
    .chiffreDynamiqueWrapper {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        align-items: flex-start;
        .text {
            display: flex;
            flex-direction: column;
            max-width: 700px;
        }
    }
    .mapWrapper {
        padding: 1rem 2rem 0 0;
        .legend {
            margin: 0.75rem;
        }
        .legendTypesDeSols {
            padding: 0.75rem;
        }
    }
}

.sourcesExportWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    gap: 1rem;
    align-items: center;
}

// Etape 2
.bdWrapper {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
    margin-top: 2rem;
    .bdCardWrapper {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        background-color: var(--gris-light);
        max-width: 350px;
        width: 100%;
    }
    .bdTextWrapper {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.donneesNationalesWrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--gris-medium);
    padding: 2rem 0;
    .leftData {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 1.25rem;
        padding-right: 1.5rem;
        border-right: 1px solid var(--gris-medium);
        align-items: flex-start;
    }
    .rightData {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 1.25rem;
        padding-left: 1.5rem;
    }
}

.prendreRDVWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 2rem;
    .RDVText {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}

// Composant thématiques liées
.thematiquesLieesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem;
    position: relative;
    margin: 0 auto;
}

.leftSection {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
}

.roueImageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roueImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.retourButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.centerSection {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    margin: 0 0.5rem;
}

.rightSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    max-width: fit-content;
    flex-grow: 1;
    margin-left: 0.5rem;
}

.connectionLine {
    position: absolute;
    height: 1px;
    background-color: var(--principales-vert);
    z-index: 1;
    border-radius: 2px;
}

.leftToCenter {
    left: 210px;
    width: calc(13rem - 0.5rem);
    top: 50%;
    transform: translateY(-50%);
}

.rightConnectionLines {
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
}

.rightConnectionLine {
    position: absolute;
    height: 1px;
    background-color: var(--principales-vert);
    border-radius: 2px;
    transform-origin: left center;
}

// Associer les acteurs

.associerLesActeursContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #ecfffd;
    .texte {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
