.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: flex-start;
}

.explicationWrapper {
    background-color: #f9f9ff;
    margin: 0 0 2em;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px #d6d6f0;
    p {
        margin: 0;
    }
}

.textWrapper {
    padding: 1rem;
    ul {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.graphWrapper {
    display: flex;
    flex-direction: column;
    background-color: #f9f9ff;
    border: solid 1px #d6d6f0;
    border-radius: 0.5em;
}

.chefsExploitationGraphTitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px #d6d6f0;
    h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: '#0063CB';
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.legend {
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding: 1rem;
    width: fit-content;
    border-bottom: solid 1px #d6d6f0;
}
