.leaflet-interactive {
    cursor: grab;
}
.leaflet-hover {
    cursor: pointer;
}

// .leaflet-tooltip {
//     transform: none !important;
// }

// .leaflet-tooltip-top:before {
//     bottom: 0;
//     margin-bottom: 0;
//     border-top-color: transparent;
// }

.qualiteSitesBaignadePopupWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    gap: 0.5rem;
    align-items: center;
    width: max-content;
}

.qualiteSitesBaignadePopupText {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
        margin: 0;
        font-size: 0.75rem;
        line-height: 14px;
        font-family: 'Marianne';
    }
}
