.css-ja5taz-MuiTooltip-tooltip {
    background-color: transparent !important;
}

.css-1xzeb1j-MuiPopper-root-MuiTooltip-popper .MuiTooltip-tooltip {
    background-color: transparent !important;
    color: transparent !important;
    padding: 0 !important;
}
