.container {
    /* height: 700px; */
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.bar,
.line {
    height: 95%;
    width: 100%;
    position: absolute;
}
.charts {
    height: 100%;
}
