.test {
  --current-step: 1,
  --stepper-size: 0.5rem;
  --steps: 3;
  --step-width: calc(100% / 3);
  --default-outer: calc((100% + var(--stepper-size)) / var(--steps));
  --default-inner: calc(var(--default-outer) - var(--stepper-size));
  --active-outer: calc((100% + var(--stepper-size)) / var(--current-step));
  --active-inner: calc(var(--active-outer) - var(--stepper-size));
  width: 100%;
  height: var(--stepper-size);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: calc((100% + var(--stepper-size)) * var(--current-step) / var(--steps) - var(--stepper-size)) 100%, 100% 100%;
  background-image: repeating-linear-gradient(to right, blue 0, blue var(--active-inner), transparent var(--active-inner), transparent var(--active-outer)), repeating-linear-gradient(to right, green 0, green var(--default-inner), transparent var(--default-inner), transparent var(--default-outer))
}