.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: flex-start;
}

.explicationWrapper {
    background-color: #f9f9ff;
    margin: 0 0 2em;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px #d6d6f0;
    p {
        margin: 0;
    }
}

.graphWrapper {
    display: flex;
    flex-direction: column;
    background-color: #f9f9ff;
    border: solid 1px #d6d6f0;
    border-radius: 0.5em;
}

.amenagementGraphTitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px #d6d6f0;
    h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: '#0063CB';
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.amenagementGraphFiltersWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px #d6d6f0;
}

.NafBarLegendWrapper {
    background-color: white;
    padding: 0 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.25rem;
    .legendNafBar {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 0.5rem;
        padding: 0;
        .colorNafBar {
            width: 1rem;
            height: 1rem;
            border-radius: 2px;
        }
        .legendText {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 20px;
            margin: 0;
        }
    }
}

.patch4Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: solid 1px #d6d6f0;
    padding: 20px 0;
    margin: 0 0 20px;
}

// exports de données

.sourcesExportWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    p {
        margin: 0;
    }
}
