.dataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .legend {
        padding: 0.5rem;
    }
}

// onglets de navigation en dataviz + filtres

.graphTabsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.25rem;
    gap: 0.5rem;
    border-bottom: 1px solid var(--gris-medium);
    width: 100%;
    flex-wrap: wrap;
}

.sliderWrapper {
    display: flex;
    padding: 1.25rem 2.25rem;
    width: 100%;
    border-bottom: 1px solid var(--gris-medium);
}
