.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: flex-start;
}

.explicationWrapper {
    background-color: #f9f9ff;
    margin: 0 0 2em;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px #d6d6f0;
    p {
        margin: 0
    }
}

.graphWrapper {
    display: flex;
    flex-direction: column;
    background-color: #f9f9ff;
    border: solid 1px #d6d6f0;
    border-radius: 0.5em;
}
.catnatGraphTitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px #d6d6f0;
    h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: '#0063CB';
        margin: 0;
    }
    p {
        margin: 0;
    }
}
.graphTitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 1px #d6d6f0;
    h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: '#0063CB';
        margin: 0;
    }
    p {
        margin: 0;
    }
}
.catnatGraphFiltersWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px #d6d6f0;
    // margin: 0 auto;
}

.legend {
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding: 1rem;
    width: fit-content;
    border-bottom: solid 1px #d6d6f0;
}

.legendStationWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    p {
        margin: 0;
    }
}

.legendItemsWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    flex-wrap: wrap;
}

.legendItem {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    p {
        margin: 0;
    }
}

.legendColor {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 0.5px solid #161616;
}

.tooltipEvolutionWrapper {
    font-family: 'Marianne';
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 20px;
    position: relative;
    right: 8rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
    color: #3a3a3a;
    p {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
    }
    h3 {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 20px;
        margin: 0 0 1rem;
    }
    .itemWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .titre {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            .colorSquare {
                height: 1rem;
                width: 1rem;
                border-radius: 2px;
                align-self: center;
            }
        }
        .value {
            p {
                font-weight: 700;
            }
        }
    }
}

.ErosionCotiereLegendButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 400;
}

// .ErosionCotiereLegendWrapper {
//     position: relative;
//     width: max-content;
//     padding: 14px 0px;
//     box-shadow: 0 0 5px 0 rgba(184, 140, 140, 0.3);
//     font-size: 12px;
//     background: rgb(251, 252, 255);
//     border-radius: 5px;
//     border: 1px solid #dadde9;
//     .colorWrapper {
//         display: 'flex';
//         justify-content: 'space-between';
//         .color {
//             width: 20px;
//             height: 20px;
//             border-radius: 25px;
//         }
//     }
// }

// .ErosionCotiereLegendWrapper > div {
//     position: relative;
//     display: flex;
//     height: 25px;
//     padding: 0 10px;
//     gap: 1em;
// }

// .ErosionCotiereLegendWrapper {
//     position: relative;
//     width: max-content;
//     padding: 14px 0px;
//     box-shadow: 0 0 5px 0 rgba(184, 140, 140, 0.3);
//     font-size: 12px;
//     background: rgb(251, 252, 255);
//     border-radius: 5px;
//     border: 1px solid #dadde9;
//     .colorWrapper {
//         display: 'flex';
//         justify-content: 'space-between';
//         .color {
//             width: 20px;
//             height: 20px;
//             border-radius: 25px;
//         }
//     }
// }

// .ErosionCotiereLegendWrapper > div {
//     position: relative;
//     display: flex;
//     height: 25px;
//     padding: 0 10px;
//     gap: 1em;
// }

.ErosionCotiereLegendWrapper {
    // margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1rem;
    background: #f9f9ff;
    // border-radius: 0.5rem;
    border-bottom: solid 1px #d6d6f0;
    h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: '#0063CB';
        margin: 0;
    }
    p {
        margin: 0;
        font-size: 14px;
        font-family: 'Marianne';
    }
    .bloc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .legendsWrappers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 0 1rem;
            .legendsLeft {
                display: flex;
                flex-direction: column;
                // gap: 0.1rem;
            }
            .legendsRight {
                display: flex;
                flex-direction: column;
                gap: 0.1rem;
                width: 180px;
            }
            .legendItem {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                column-gap: 1rem;
                .colorSquare {
                    height: 1rem;
                    width: 1rem;
                    border-radius: 2px;
                    align-self: center;
                    border: 1px solid #161616;
                }
            }
        }
    }
}

.noData {
    display: flex;
    flex-direction: column;
    border: solid 1px #d6d6f0;
    border-radius: 0.5em;
    padding: 1em;
}

.patch4Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: solid 1px #d6d6f0;
    padding: 20px 0;
    margin: 0 0 20px;
}
