// Ressources

.desktopOnly {
    display: block;
}

.mobileOnly {
    display: none;
}

@media screen and (max-width: 992px) {
    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }
}

.ressourcesContainer {
    margin-top: 4rem;
}

@media screen and (max-width: 768px) {
    .ressourcesContainer {
        padding: 0rem 1.5rem;
        margin: 2rem 0;
    }
}

.blocWrapper {
    margin: 1em 0 4em;
}

.titles {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}

.favoris {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    height: fit-content;
    padding: 0.5em;
    background-color: #f1f1f1;
    align-items: center;
    border-radius: 0.25rem;
    &:hover {
        cursor: pointer;
    }
    p {
        margin: 0;
    }
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    gap: 2em;
    overflow-x: scroll;
    scrollbar-width: none;
}

.card {
    background-color: #f4f4f4;
    padding: 1.5em;
    border-radius: 0.25rem;
    border: 2px solid black;
    min-width: 300px;
}

.subcard {
    background-color: #fff;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.25rem;
    p {
        margin: 0;
    }
}

.bottom {
    display: flex;
    background-color: #eeeeee;
    padding: 1em 2em;
    justify-content: space-between;
    // position: sticky;
}

.selectedTab {
    background-color: #0063cb;
    border-radius: 25px;
    padding: 0.2em 1em;
    color: #ececfe;
    &:hover {
        cursor: pointer;
        background-color: #000091e7 !important;
        color: #eeeeee;
    }
}
.tab {
    background-color: #f9f9ff;
    border-radius: 25px;
    padding: 0.2em 1em;
    color: #3a3a3a;
    &:hover {
        cursor: pointer;
        background-color: #e9e9ff !important;
        color: #000000;
    }
}

.selectedTabNouveauParcours {
    background-color: var(--boutons-primaire-1);
    border-radius: 25px;
    padding: 0.2em 1em;
    color: #eeeeee;
    &:hover {
        cursor: pointer;
        background-color: var(--boutons-primaire-3) !important;
    }
}
.tabNouveauParcours {
    background-color: #f0fcfa;
    border-radius: 25px;
    padding: 0.2em 1em;
    color: black;
    &:hover {
        cursor: pointer;
        background-color: var(--boutons-primaire-2) !important;
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: start;
    padding: 0 0 1.5em;
}

.cardsWrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    flex-wrap: wrap;
}

.ressourcesWrapper {
    padding: 4rem 0;
    border-bottom: 1px solid #dddddd;
}

.disabledTab {
    background-color: #f9f9ff;
    border-radius: 25px;
    padding: 0.2em 1em;
    color: #3a3a3a;
    &:hover {
        cursor: default;
    }
}

.tilesWrapper {
    margin: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

// Articles

.articleContainer {
    max-width: 42rem;
    margin: auto;
    padding-bottom: 6rem;
}

@media screen and (max-width: 768px) {
    .articleContainer {
        padding: 0rem 1.5rem;
        margin-bottom: 4rem;
    }
}

// Bloc titre

.ressourcesTitreContainer {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 12px,
        var(--boutons-primaire-2) 12px,
        var(--boutons-primaire-2) 14px
    );
    padding: 1.5rem 0rem;
    height: 92px;
    text-align: right;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 364px;
        height: 364px;
        border-radius: 50%;
        background-color: var(--boutons-primaire-2);
        top: 120%;
        left: 55%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

@media screen and (max-width: 992px) {
    .ressourcesTitreContainer {
        display: none;
    }
}

// Bloc Collections

.ressourcesCollectionContainer {
    background-color: var(--boutons-primaire-5);
}
.ressourcesCollectionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: flex-start;
    .titles {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 350px;
        width: 30%;
    }
    .titreEtBoutons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        width: 100%;
        align-items: center;
        .boutonsWrapper {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            .flecheDroiteMobile,
            .flecheGaucheMobile {
                height: 40px;
                width: 40px;
                background-color: #ffffff;
                border-radius: 50%;
                box-shadow: 0px 4px 4px 0px #00000040;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .ressourcesCollectionWrapper {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 992px) {
    .ressourcesCollectionWrapper {
        flex-direction: column;
        gap: 1.5rem;
        padding: 3rem 1rem;
    }
}

// Slider
.sliderContainer {
    position: relative;
    overflow-x: visible;
    flex: 1;
    min-width: 0;
}

.sliderInnerWrapper {
    width: 100%;
    overflow-x: hidden;
}

.sliderWrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 4px;

    > * {
        flex-shrink: 0;
        min-width: 320px;
    }
}

.flecheGauche {
    height: 48px;
    width: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(-50%) scale(1.05);
        transition: all 0.2s ease-in-out;
    }
}

.flecheDroite {
    height: 48px;
    width: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(-50%) scale(1.05);
        transition: all 0.2s ease-in-out;
    }
}

.carteCollectionWrapper {
    border-radius: 2.5rem;
    background-color: var(--boutons-primaire-1);
    padding: 1.5rem;
    width: 320px;
    min-width: 320px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;

    &:hover {
        background-color: var(--boutons-primaire-3);
        cursor: pointer;

        .content {
            transform: translateY(-20px);
        }

        .texteCache {
            visibility: visible;
            opacity: 1;
            bottom: 0.8rem;
        }
    }

    &:focus {
        outline: 6px solid #971356;
        outline-offset: -1px;
        background-color: var(--boutons-primaire-3);
        .content {
            transform: translateY(-20px);
        }

        .texteCache {
            visibility: visible;
            opacity: 1;
            bottom: 0.8rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease;
    }

    .carteCollectionImage {
        height: 150px;
        object-fit: cover;
    }

    p {
        font-size: 22px;
        color: #fafafa;
        line-height: 28px;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .texteCache {
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        position: absolute;
        bottom: 0rem;

        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .sliderContainer {
        width: 100vw;
        margin-left: calc(-1 * var(--container-padding, 1rem));
        overflow-x: visible;
    }
    .sliderInnerWrapper {
        overflow-x: visible;
    }
    .sliderWrapper {
        padding-left: var(--container-padding, 1rem);
        padding-right: var(--container-padding, 1rem);
    }
    .flecheGauche,
    .flecheDroite {
        display: none;
    }
    .carteCollectionWrapper {
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

// Bloc autres outils

.ressourcesAutresOutilsContainer {
    background-color: #ecfffd;
}
.ressourcesAutresOutilsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: flex-start;
    .titles {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 450px;
        width: 40%;
        p {
            color: #3d3d3d;
            margin: 0;
        }
    }
    .cartesWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .ressourcesAutresOutilsWrapper {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 992px) {
    .ressourcesAutresOutilsWrapper {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 1rem;
        .titles {
            width: auto;
            max-width: none;
            .subtitle {
                display: none;
            }
        }
        .cartesWrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
}

// Bloc toutes les ressources
.separator {
    height: 1px;
    width: 48px;
    background-color: var(--gris-medium);
    margin: 1rem 0 0;
}

.toutesRessourcesContainer {
    background-color: #ffffff;
    .filtresWrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 0rem;
        border-bottom: 1px solid var(--gris-medium);
        .filtresListe {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            .filtreItem {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                max-width: 270px;
                width: 100%;
            }
            .reinitialiser {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: 0.5rem;
                padding-bottom: 0.75rem;
                cursor: pointer;
                text-wrap: nowrap;
            }
        }
        .filtresSelectionnes {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            flex-wrap: wrap;
        }
    }
}
.resultatsWrapper {
    padding: 2rem 0;
    .resultats {
        p {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .listeDesArticlesWrapper {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        row-gap: 4rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    .toutesRessourcesContainer {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 992px) {
    .toutesRessourcesContainer {
        padding: 0 1rem;
        .filtresWrapper {
            display: none;
        }
    }
    .resultatsWrapper {
        .listeDesArticlesWrapper {
            justify-content: center;
            row-gap: 1.5rem;
        }
        .resultats {
            display: none;
        }
    }
}

// Page Collections
.breadcrumbWrapper {
    :global(.fr-breadcrumb) {
        margin: 1rem 0;
    }
}

.collectionTopBlocContainer {
    background-color: var(--principales-vert);
}

.collectionTopBlocWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: flex-start;
    .texteWrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        max-width: 696px;
        .collectionMeta {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
        .tempsLecture {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.875rem;
        }
    }
}

.collectionArticlesContainer {
    background-color: #ffffff;
    .boutonPartageMobile {
        display: none;
    }
    .selections {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        .collectionArticlesWrapper {
            padding: 2rem 0rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .question {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                background-color: var(--gris-light);
                padding: 2rem 1.5rem;
                border-radius: 4px;
                .titre {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    margin: 0;
                    h2 {
                        margin: 0;
                    }
                }
                .contact {
                    margin-right: 1.5rem;
                    align-self: end;
                    font-weight: 500;
                    color: var(--boutons-primaire-1);
                    display: inline-flex;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    text-decoration: none;
                    background-image: none;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .blocDroit {
            max-width: 366px;
            width: max-content;
            padding: 2rem 0rem;
            .seLancer {
                position: sticky;
                border-radius: 4px;
                top: 32px;
                background-color: #ffe2ae;
                padding: 2rem 1.5rem;
                display: flex;
                flex-direction: column;
                .titre {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    margin: 0;
                }
                .bouton {
                    margin-right: 1.5rem;
                    align-self: end;
                    font-weight: 500;
                    color: var(--boutons-primaire-1);
                    display: inline-flex;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    text-decoration: none;
                    background-image: none;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .collectionTopBlocWrapper {
        padding: 0 1rem;
        flex-direction: column;
    }
    .collectionArticlesContainer {
        padding: 0 1rem;
        .selections {
            flex-direction: column;
            .collectionArticlesWrapper {
                padding-bottom: 0.5rem;
                align-items: center;
                width: 100%;
            }
            .blocDroit {
                max-width: none;
                width: 100%;
                padding-top: 0;
                .seLancer {
                    position: static;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .collectionArticlesContainer {
        .boutonPartage {
            display: none;
        }
        .boutonPartageMobile {
            display: flex;
            justify-content: center;
            width: 100dvw;
            margin-top: 1rem;
        }
        .selections {
            flex-direction: column;
            .collectionArticlesWrapper {
                padding-bottom: 0.5rem;
                align-items: center;
            }
            .blocDroit {
                max-width: none;
                width: 100%;
                padding-top: 0;
                .seLancer {
                    position: static;
                }
            }
        }
    }
}
