.modale {
    :global(.fr-col-lg-8) {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }

    :global(.fr-modal__body) {
        background-color: var(--boutons-primaire-5);
        border-radius: 1rem;
        padding-top: 2rem;
        scrollbar-width: none;
    }

    :global(.fr-modal__header) {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        
    }

    :global(.fr-modal__title) {
        color: #2b4b49;
        content: '';
    }

    :global(.fr-btn--close) {
        color: #2b4b49;
        font-size: 0;
        
        &::after {
            font-size: 1rem;
        }
        
        &:hover {
            background-color: var(--boutons-primaire-5) !important;
        }
    }
}

.contenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
