.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // --heightWrapper: 293px;
    // --height-notice: 543px;
    color: #3a3a3a;
}

.content {
    flex-grow: 1;
}

// .container {
//     margin: 3em 0;
// }

// .cardBackground {
//     background-color: #f4f6fe;
// }

// .cardWrapper {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     padding: 12em 3.75em 3.75em;
//     gap: 1.5em;
// }

// .card {
//     display: flex;
//     flex-direction: row;
//     max-width: 45%;
//     height: inherit;
//     gap: 2rem;
//     background-color: white !important;
//     border-radius: 8px;
//     h2 {
//         font-size: 1rem;
//         line-height: 1.3em;
//         font-weight: 700;
//         margin: 0 0 1em;
//     }
//     .cardDescription {
//         display: flex;
//         flex-direction: column;
//         padding: 1em;
//     }
//     .cardImage {
//         border-radius: 0.5em 0 0 0.5em;
//         height: inherit;
//         width: 100%;
//     }
// }

// .constellationWrapper {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     margin: 0 0 2em;
// }
// .constellationText {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     max-width: 40%;
//     padding: 2em 0;
// }


// @media screen and (max-width: 1280px) {
//     .constellationWrapper {
//         margin: 0;
//     }
// }
// @media screen and (max-width: 1135px) {
//     .collectiviteWrapper {
//         width: 90dvw;
//         max-width: none;
//         left: calc(50dvw - 46dvw);
//         // top: var(--height-notice) + 6em;
//     }
// }

// @media screen and (max-width: 1015px) {
//     .constellationWrapper {
//         flex-direction: column;
//         align-items: center;
//     }
//     .constellationText {
//         max-width: 80%;
//     }
//     .cardWrapper {
//         flex-wrap: wrap;
//         justify-content: center;
//     }
//     .card {
//         max-width: 80dvw;
//         width: -webkit-fill-available;
//         width: -moz-available;
//         width: stretch;
//         .cardImage {
//             max-height: 400px;
//             max-width: 138px;
//         }
//     }
// }
// @media screen and (max-width: 550px) {
//     .card {
//         .cardImage {
//             display: none;
//         }
//     }
// }
// @media screen and (max-width: 520px) {
//     .collectiviteWrapper {
//         height: 450px;
//         padding: 2rem 2rem 0;
//     }
//     .cardWrapper {
//         padding-top: 25rem;
//     }
// }
