.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.container {
    margin: 3em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.cardWrapper {
    width: 100%; 
    gap: 3em;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    background-color: #eeeeee;
    padding: 1rem;
    h2 {
        font-size: 1.5rem;
        line-height: 1.3em;
        font-weight: 700;
        margin: 0;
    }
}