.articleTopBlocContainer {
    background-color: #FFFFFF;
    .articleTopBlocMeta {
        margin-top: 1rem;
        background-color: green;
        border-radius: 1rem 1rem 1rem 0;
        width: 95%;
        height: 90%;
        align-self: left;
        padding: 1.5rem;
    }
    .articleTopBlocImage {
        // width: 350px;
        position: absolute;
        border-radius: 1rem 1rem 0rem 1rem;
        top: 0;
        right: 0;
    }
    .articleContent {
        margin: 2rem 0;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        .sommaire {
            width: 400px;
        }
        .article {
            padding: 0 1rem;
        }
    }
}
