.carteLink {
    text-decoration: none;
    background-image: none;

    &::after {
        display: none;
    }
}

.iconNav {
    align-self: flex-end;
}

@media screen and (max-width: 992px) {
    .iconNav {
        align-self: center;
    }
}

.carteHoverContainer {
    padding: 1.5rem 2rem;
    background-color: var(--boutons-primaire-2);
    width: 319px;
    height: 136px;
    border-radius: 0.25rem;
    overflow: hidden;
    border: none;
    cursor: pointer;

    .contentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        max-height: 100%;
        overflow: hidden;

        .left {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            justify-content: flex-start;
            position: relative;
        }
    }

    .icon {
        transition: opacity 0.5s ease;
        opacity: 1;
    }

    .title {
        transition: transform 0.5s ease;
        transform: translateY(0);
        p {
            margin: 0;
            font-size: 22px;
            color: var(--boutons-primaire-1);
            text-align: left;
            font-weight: bold;
            line-height: 28px;
        }
    }

    .description {
        opacity: 0;
        transition:
            opacity 0.5s ease,
            transform 0.5s ease;
        transform: translateY(0);
        text-align: left;
    }

    &:hover {
        background-color: var(--boutons-primaire-5) !important;

        .icon {
            opacity: 0;
        }

        .title {
            transform: translateY(-32px);
        }

        .description {
            opacity: 1;
            transform: translateY(-32px);
        }
    }

    &:focus {
        outline: none;
        border: 1px solid var(--boutons-primaire-5);
        box-shadow:
            0 0 0 2px white,
            0 0 0 4px var(--boutons-primaire-5);
        .icon {
            opacity: 0;
        }

        .title {
            transform: translateY(-32px);
        }

        .description {
            opacity: 1;
            transform: translateY(-34px);
        }
    }
}

@media screen and (max-width: 992px) {
    .carteHoverContainer {
        padding: 1rem;
        height: fit-content;
        width: calc(100dvw - 48px);
        max-width: 700px;
        .contentWrapper {
            .left {
                flex-direction: row;
                align-items: center;
            }
        }
        .icon {
            opacity: 1;
        }
        .description {
            display: none;
        }
        .title {
            transform: none;
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &:hover {
            background-color: var(--boutons-primaire-2) !important;

            .icon {
                opacity: 1;
            }

            .title {
                transform: none;
            }

            .description {
                opacity: 0;
                transform: none;
            }
        }

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;

            .icon {
                opacity: 1;
            }

            .title {
                transform: none;
            }

            .description {
                opacity: 0;
                transform: none;
            }
        }
    }
}
