// Header barre de changement de territoires

.headerSearchBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--gris-medium);
    height: 50px;
    padding: 11px 0;
    .separator {
        height: 2rem;
        border-left: 1px solid var(--gris-medium);
        margin: 0 10px;
    }
    .searchTerritoireContainer {
        display: flex;
        flex-direction: row;
        width: inherit;
        align-items: center;
        justify-content: space-between;
        height: inherit;
        gap: 20px;
    }
}

.unselected {
    width: fit-content;
    max-width: 150px;
    min-width: 90px;
    height: 90px;
    background-color: #f8f8f8;
    border-bottom: 3px solid #000091;
    padding: 0.75rem;
    align-content: center;
    &:hover {
        cursor: pointer;
    }
    h6 {
        font-size: 0.8em;
        font-weight: 400;
        margin: 0;
    }
}

.selected {
    width: fit-content;
    max-width: 150px;
    height: 90px;
    background-color: #e7e7e7;
    border: 3px solid #000091;
    border-bottom: 8px solid #000091;
    padding: 0.75rem;
    align-content: center;

    &:hover {
        cursor: pointer;
    }
    h6 {
        font-size: 1em;
        margin: 0;
    }
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #616d75;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
}

.localisation {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    background-color: #ffffff !important;
    color: #161616;
    border-radius: 50px;
    padding: 0.25em 0.75em;
    line-height: 24px;
    border: 1px solid var(--gris-medium);
}
.titles {
    min-width: min-content;
    // max-width: 60% !important;
    padding: 0.75rem 1rem 0.75rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    .sensibilite {
        display: flex;
        flex-direction: row;
        column-gap: 2em;
    }
}
.selectedTabButton {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    justify-content: center;
    align-items: center;
    background-color: #0063cb !important;
    // border: 1px solid #000000;
    border-radius: 25px;
    margin: 0 0.5em;
    padding: 0.2em 0.75em;
    color: #ececfe;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    // &:hover {
    //     //color: black;
    //     background-color: #000091e7 !important;
    //     color: #eeeeee;
    // }
}
.tabButton {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    margin: 0 0.5em;
    padding: 0.2em 1em;
    color: #3a3a3a;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    &:hover {
        //color: black;
        background-color: #e9e9ff !important;
        color: #000000;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Search bar
.searchCompWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.searchbarWrapper {
    display: flex;
    width: 100%;
    height: 42px;
    gap: 0.5rem;
    align-items: flex-end;
}

.activeSearchbarButton {
    display: block;
    background-color: #0063cb;
    color: white;
    border-radius: 0 4px 4px 0;
    border: 1px solid #0063cb;
}

.inactiveSearchbarButton {
    display: block;
    border-radius: 0 4px 4px 0;
    border: 1px solid #e5e5e5;
}

// Patch4°C
.tag {
    padding: 8px;
    border-radius: 4px;
    min-height: fit-content;
    min-width: fit-content;
    font-weight: 700;
    font-size: 14px;
    p {
        margin: 0;
    }
}

.indiceItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0rem;
    row-gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    .indiceLeft {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        width: 170px;
        min-width: fit-content;
        p {
            font-size: 14px;
            line-height: 12.14px;
            font-weight: 700;
            margin: 0;
        }
    }
}

.patch4Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: solid 1px #d6d6f0;
    padding: 20px 0;
    margin: 0 0 20px;
}

.exportIndicatorButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #004899;
    color: white;
    border-radius: 25px;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    height: fit-content;
    gap: 0.5em;
    &:hover {
        background-color: #0063cb !important;
    }
}

.exportShareWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

// Barre de recherche
.searchCompWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.searchbarWrapper {
    display: flex;
    width: 100%;
    height: 3rem;
    gap: 0.5rem;
    align-items: flex-end;
}

.activeSearchbarButton {
    display: block;
    background-color: #0063cb;
    color: white;
    border-radius: 60px;
    border: 1px solid #0063cb;
}

.inactiveSearchbarButton {
    display: block;
    border-radius: 60px;
    border: 1px solid #e5e5e5;
}

// Menu latéral

.sidebarContainer {
    position: fixed;
    left: 0;
    width: 322px;
}

.chevron-right-green {
    width: 10px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 12'%3E%3Cpath d='M1 3 L3.5 6 L1 9' stroke='%23038278' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    align-self: flex-start;
}

.chevron-right-black {
    width: 10px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 12'%3E%3Cpath d='M1 3 L3.5 6 L1 9' stroke='%23000000' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    align-self: flex-start;
}

.BoutonEtapes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 1rem;
    padding: 18px 0;
    &:hover {
        background-color: transparent !important;
    }
}

.menuEtapeDonnees {
    display: flex;
    flex-direction: column;
    padding: 0 0rem 0 2rem;
    ::before {
        content: '';
        position: absolute;
        left: -27px;
        top: -80px;
        bottom: -30px;
        width: 1px;
        background-color: var(--gris-medium);
    }
}

.menuEtapeDonneesSansImpact {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2rem;
    ::before {
        content: '';
        position: absolute;
        left: -27px;
        top: -50px;
        bottom: -10px;
        width: 1px;
        background-color: var(--gris-medium);
    }
}

.menuEtapeImpacts {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2rem;
    ::before {
        content: '';
        position: absolute;
        left: -27px;
        top: -45px;
        bottom: -10px;
        width: 1px;
        background-color: var(--gris-medium);
    }
}

.itemSurligne {
    background-color: var(--boutons-primaire-2);
    border-radius: 0.5rem;
    position: relative;
    padding: 4px 14px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 16px;
        background-color: var(--boutons-primaire-3);
        border-radius: 0 2px 2px 0;
    }
    &:hover {
        background-color: var(--boutons-primaire-2) !important;
    }
}

.itemNonSurligne {
    border-radius: 0.5rem;
    position: relative;
    padding: 4px 14px;
    &:hover {
        background-color: transparent !important;
    }
}

// Bouton retour haut de page
.retourHautDePageWrapper {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    z-index: 1000;
}

.retourHautDePageBouton {
    border-radius: 50%;
    background-color: var(--gris-dark);
    height: 44px;
    width: 44px;
    padding: 10px;
    cursor: pointer;
}
