.introduction {
    padding: 2em 0 3.75em;
    border-bottom: 1px solid #dddddd;
}

.blueWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 1em;
    border-radius: 0.5em;
    background-color: #f4f6fe;
    padding: 40px;
    .content {
        display: flex;
        flex-direction: row;
        gap: 1em;
        p {
            margin: 0;
        }
    }
}

.conseils {
    padding: 3.75em 0;
    border-bottom: 1px solid #dddddd;
    .vigilance {
        padding: 3em 0 0;
    }
}

.deroule {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 3.75em 0;
    width: fit-content;
    height: fit-content;
    // border-bottom: 1px solid #dddddd;
    .contentWrapper {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 2.6em;
        margin: 0 0 2em;
        gap: 2em;
    }
}

.h2title {
    display: flex;
    flex-direction: row;
    gap: 1em;
    h2 {
        font-size: 1.5em;
        font-weight: 700;
        color: #161616;
        line-height: 1.5em;
        margin: 0;
    }

    align-items: center;
}

.grayWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 1em;
    border-radius: 0.5em;
    background-color: #f6f6f6;
    padding: 40px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    a {
        color: #0063cb;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
    }
    .link {
        display: flex;
        flex-direction: row;
        gap: 2px;
        padding: 0 2.6em;
    }
}
