.container {
    --cust-width: 70dvw;
    display: flex;
    flex-direction: row;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.selectedButton {
    background-color: #0063cb;
    // border: 1px solid #000000;
    border-radius: 25px;
    margin: 0 0.5em;
    padding: 0.2em 1em;
    color: #ececfe;
    &:hover {
        //color: black;
        background-color: #000091e7 !important;
        color: #eeeeee;
    }
}
.button {
    background-color: #f9f9ff;
    border-radius: 25px;
    margin: 0 0.5em;
    padding: 0.2em 1em;
    color: #3a3a3a;
    &:hover {
        //color: black;
        background-color: #e9e9ff !important;
        color: #000000;
    }
}

.cardWrapper {
    width: var(--cust-width);
    max-width: var(--cust-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.5em;
    border-bottom: 1px solid grey;
}

.titles {
    padding: 1em 0;
    .sensibilite {
        display: flex;
        flex-direction: row;
        column-gap: 2em;
    }
}

.bubble {
    // width: 100%;
    // layout
    position: relative;
    // looks
    //background-color: white;
    font-size: 1.25em;
    // box-shadow:
    //     0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    //     0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
    // border-left: 3px solid #000091;
}

.bubbleContent {
    margin: 0.2rem 0 2rem;
    // padding: 0.2em 0 2em;
    background-color: white !important;
}

.bottom {
    display: flex;
    background-color: #eeeeee;
    padding: 1em 2em;
    justify-content: space-between;
}
