.container {
  margin: 1em 4em
}

.cardWrapper {
  width: var(--cust-width);
  max-width: var(--cust-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 0.5em;
  border-bottom: 1px solid grey;
}

.wrapper {
  background-color: #f8f8f8;
}
.explication {
  display: flex;
  flex-direction: row;
}
.constellation {
  width: 50%;
  margin: 1em;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.explicationText {
  width: 50%;
  padding: 1em;
}

.bottom {
  display: flex;
  background-color: #eeeeee;
  padding: 1em 2em;
  justify-content: space-between;
}

.card {
  background-color: #F4F4F4;
  padding: 1.5em;
  border-radius: 0.25rem;
  border: 2px solid black;
  min-width: 300px;
}

.subcard {
  background-color: #FFF;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.25rem;
  p {
      margin: 0;
  }
}