.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: flex-start;
}

.explicationWrapper {
    background-color: #f9f9ff;
    margin: 0 0 2em;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px #d6d6f0;
}

.graphWrapper {
    display: flex;
    flex-direction: column;
    background-color: #f9f9ff;
    border: solid 1px #d6d6f0;
    border-radius: 0.5em;
}

.dataVizGraphTitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px #d6d6f0;
    h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: '#0063CB';
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.legend {
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding: 0.5em;
    width: fit-content;
}

.legendStationWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    p {
        margin: 0;
    }
}

.legendItemsWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 0.75em;
    flex-wrap: wrap;
}

.legendItem {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    p {
        margin: 0;
    }
}

.legendColor {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 0.5px solid #161616;
}

.tooltipEvolutionWrapper {
    font-family: 'Marianne';
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 20px;
    position: relative;
    right: 8rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
    color: #3a3a3a;
    p {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
    }
    h3 {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 20px;
        margin: 0 0 1rem;
    }
    .itemWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .titre {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            .colorSquare {
                height: 1rem;
                width: 1rem;
                border-radius: 2px;
                align-self: center;
            }
        }
        .value {
            p {
                font-weight: 700;
            }
        }
    }
}

.tooltipSurfacesProtegeesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    .color {
        height: 1rem;
        width: 1rem;
        border-radius: 2px;
        align-self: center;
    }
    p {
        margin: 0;
    }
}

.biodiversiteGraphTitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px #d6d6f0;
    h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: '#0063CB';
        margin: 0;
    }
    p {
        margin: 0;
    }
}
.biodiversiteGraphFiltersWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: solid 1px #d6d6f0;
}

.treemapLegendWrapper {
    background-color: white;
    padding: 0 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.25rem;
    .legendTreeMap {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 0.5rem;
        padding: 0;
        .colorTreeMap {
            width: 1rem;
            height: 1rem;
            border-radius: 2px;
        }
        .legendText {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 20px;
            margin: 0;
        }
    }
}

.surfacesProtegeesMapWrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 500px;
    align-items: end;
}

.legend {
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding: 0.5em;
    width: fit-content;
    border-bottom: solid 1px #d6d6f0;
}
